In [7]:
# Imports
import pandas as pd
import csv

In [56]:
# Reading Files
# This is super inefficient... but I'm not sure how else to do it than triple nested for loops... it's struggling

with open('data/MANIFEST.txt') as read:
    labels = list(read)
    for i in range(0, len(labels)):
        labels[i] = labels[i].rstrip('\n') # Not sure how else to read this in... there may be a better way
            
data = pd.DataFrame()
for label in labels:
    m_filename = 'data/' + label + '/MANIFEST.txt'
    manifest = pd.read_csv(m_filename, delimiter='\t')
    for i in range(0, manifest.shape[0]):
        filename = manifest.at[i,'filename']
        p_data = pd.read_csv('data/' + label + '/' + filename, delimiter='\t')
        for j in range(0, p_data.shape[0]):
            data.at[i, p_data.iat[j, 0]] = p_data.iat[j, 2]
        data[i, 'label'] = label
data.head()

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,f714dd7c-e70c-5f7a-bdb3-366cfeae7a0b,050203a0-12ab-5025-973d-e070d94f722b,be28c8f7-6008-5af4-88bc-eb759f7747de,bc0f61c4-051a-5b18-9007-f7caf2e3e5ea,34a6c43e-7804-55a3-8158-82a7d8084d57,9c8edd48-2342-5506-987b-0dd71b580a98,bdb1706c-4815-5400-9265-3044aa7cc5af,6dae1406-1495-5565-8c0f-f3e210dd978a,9a2cb3e9-e761-5183-90e6-f3771d2e5b50,28532873-b675-5fef-8acb-fef6965b0d70
0,43816.911983,43605.336761,43795.279604,58025.691880,16420.822590,1387.637992,3120.602625,17091.953968,17522.754889,2048.480800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24341.091612,24249.160586,24319.013689,16006.675495,2007.281372,2458.250104,5011.688632,9816.532456,10091.782633,965.637703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21505.563131,21471.610304,21464.306498,24069.396421,2504.218441,2123.236131,3141.426161,8332.852993,8380.623832,1395.619138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31315.810861,31268.052186,31382.106842,21067.420091,8251.658084,1435.134496,6945.371563,14651.229261,14962.619477,1219.261631,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22073.016848,21746.530698,22037.428310,8436.804428,12413.049853,3151.519747,3071.832369,11285.821604,11559.311780,1801.863137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN